[project]
	description = An app to post funny and shameful things that you've done.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/megsvetz
[access "refs/for/refs/*"]
	read = group user/megsvetz
	push = group user/megsvetz
	label-Code-Review = -2..+2 group user/megsvetz
	label-Verified = -1..+1 group user/megsvetz
	rebase = group user/megsvetz
	removeReviewer = group user/megsvetz
	submit = group user/megsvetz
[access "refs/heads/*"]
	read = group user/megsvetz
	create = group user/megsvetz
	push = +force group user/megsvetz
	pushMerge = group user/megsvetz
[access "refs/tags/*"]
	push = +force group user/megsvetz
	pushTag = group user/megsvetz
	pushSignedTag = group user/megsvetz
