<div class="nav nav-justified text-center" style="background-color:black; width: 100%;">
  <div class="col-sm-12">
    <div style="background-color:black">
      <br>
      <footer class="text-center" style="color:#6B6B6B; margin-top:2%">
        
        Copyright &copy; <%= Time.now.year %>
        <br>
      </footer>
      <br>
      <br>
    </div>
  </div>
</div>
